/* NAV BAR CSS */
.top-header{
  background-color: #523737;
  color: white;
  padding : 5px 10px 15px 10px;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 2;
}

.header__bottom a{
  color: white;
}

.top-header .header__top,
.top-header .header__bottom {
  display: flex;
  justify-content: space-between;
}

.top-header .header__top{
  margin-bottom: 15px;
  font-size: 12px;
}

.top-header .header__bottom{
  margin: 0 10px;
}

.top-header .header__column{
  width: 33%;
}

.top-header .header__column:last-child{
  text-align: right;
}

.top-header .header__column:nth-child(2) {
  text-align: center;
}

.top-header .header__number {
  color: yellow;
}

/* SearchBar CSS */

.search-bar {
  padding: 100px 25px;
  padding-bottom: 25px;
  width:100%
}

.search-bar input{
  width: 100%;
  padding: 5px 7px;
  box-sizing:  border-box;
  border: 0;
  border-radius: 5px;
  background-color: #f1f2f3;
  font-size: 13px;
  text-align: center;
}

.search-bar input:focus{
  outline: none;
}

/* MyProfile and Friends */
.searchContainer {
  margin-bottom: 70px;
}
.friends__section .frindes__section-header {
  border-top: 1px solid  #ebebeb;
  border-bottom: 1px solid  #ebebeb;
  padding : 8px 15px;
  font-size: 12px;
  color: #b4b4b4;
}

.friends__section-rows .friends__section-row{
  padding: 10px 14px;
  display: flex;
  align-items: center;
  font-size: 14px;
  
}

.friends__section-row img{
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;

}

.friends__section-row a {
  text-decoration: none;
  color: inherit;
}

.friends__section-rows i {
  color: darkgreen;
  align-items: center;
}

.friends__section-column {
  display: flex;
  align-items: center;
}

.friends__section-row.with-tagline {
  justify-content: space-between;
  
}

.friends__section-tagline {
  font-size: 12px;
  background-color: #f0f0f0;
  padding: 10px 5px;
  border-radius:  5px;
  color: #939393;
  
}

.friends-container {
  margin-bottom: 70px;
}

/* Chatapp Footer */

.tab-bar {
  background-color: #F7F7F7;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content:  space-between;
  padding-top: 10px;
  padding-bottom: 5px;
  padding: 0px 30px 0px 30px;
  border-top:1px solid #c1c1c1;
}

.tab-bar .tab-bar__tab {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #c1c1c1;
}

.tab-bar .tab-bar__tab--selected {
  color: #523737;
}
.tab-bar .tab-bar__tab i{
  display: block;
  text-align: center;
  margin-bottom: 5px;
  font-size: 24px;
}

.tab-bar .tab-bar__title {
  font-size: 10px;
}

/* Chatroom List */

.chats .chats__list{
  border-top:1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.chats__list .chats__chat{
  padding: 20px;
  border-bottom: 1px solid #ebebeb;
}

.chats__list .chats__chat:last-child{
  border-style: none;
}

.chats__chat .chat__content img {
  width:50px;
  border-radius: 50%;
  margin-right: 13px;
}

.chats__list .chats__chat a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color:inherit;
}


.chats__chat .chat__content {
  display: flex;
  align-items: flex-start;
}

.chat__privew .chat__user{
  font-weight: 600px;
  margin-bottom: 4px;
  /* padding-top: 3px; */
  margin-top: 10px;
}

.chat__privew .chat__last-message {
  color: #b4b4b4;
  font-size: 11px;

}

.chats__chat .chat__date-time {
  font-size: 10px;
  color: #b4b4b4;
}

.chats__chat:hover {
  background-color: #e7f5fe;
  transition: 0.5s;
}



/* Room */

/* .body-chat{
  padding-bottom: 0;
}
.chat-header,
.chat-header a {
  background-color: #a1c0d6;
  color: black;
}

.chat-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.chat {
  background-color: #a1c0d6;
  height: 100vh;
  padding-top: 15px;
  padding-left:10px;
  padding-right: 10px;
}

.chat .date-divider {
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.chat__message{
margin-bottom: 10px;
display: flex;
}

.chat__message-from-me {
  justify-content: flex-end;
  align-items: flex-end;
}

.chat__message-to-me {
  justify-content: flex-start;
  align-items: flex-start;
}
.chat__message-time {
  font-size: 10px;
  color : rgba(0, 0, 0, 0.5);
}

.chat__message-from-me .chat__message-body{
  background-color: #ffe934;
  padding : 10px 5px;
  border-radius: 2px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
}

.chat__message-to-me img{
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat__message-username{
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.chat__message-to-me .chat__message-body {
  background-color: white;
  padding : 10px 5px;
  border-radius: 2px;
  font-size: 15px;
}

.chat__message-center {
  display: flex;
  flex-direction: column;
}

.chat__message-time {
  margin-top: 50px;
  margin-left: 5px;
}

.type-message {
  width: 100%;
  bottom:0;
  position: fixed;
  height: 45px;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left:  10px;
  padding-right: 5px;
}

.type-message .fa-plus {
  color: #b4b4b4;
}

.type-message__input {
  width: 90%;
  display: flex;
  align-items: center;
}

.type-message__input input {
  width: 100%;
  padding: 10px;
  border-style: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.type-message__input .record-message {
  color: #523737;
  background-color: #ffe934;
  padding: 10px;
  margin-right: 5px;
  width: 13%;
}

.type-message__input .record-message i {
  display: flex;
  align-items: center;
  justify-content: center;
}
 */
